[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"
django-debug-toolbar = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
